.bar { 
  fill: #80cbc4; 
}
.bar:hover {
  fill: #6eb2ac; 
}
.axis--x path { 
  display: none; 
}
.line {
  fill: none;
  stroke: royalblue;
  stroke-width: 3;
}
.dot {
  fill: royalblue;
  stroke: royalblue;
}
.dot:hover{
  fill: #2b479b;
}
div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #2F4A6D;
}
.grid, line, path{
  stroke: #fff;
  stroke-opacity: 0.2;
}
.title {
  font-size: 22px;
  font-weight: 600;
}
text {
  fill: #fff;
}
#limit {
  stroke: #FED966;
  stroke-width: 3;
  stroke-dasharray: 3 6;
  stroke-opacity: 1;
}